@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(./styles/globals.scss); */

html {
  font-size: 10px;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline: none;
}

body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0f0e17; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8906; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
